<a href="https://colab.research.google.com/github/rakeshp1/data690_rakesh/blob/main/Individual%20Project%20final/Individual_Project_Part_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
#Importing libraries
import pandas as pd
import plotly
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
print(plotly.__version__)

5.3.1

In [37]:
!pip install plotly --upgrade #To get the latest version of plotly

Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.3.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)

In [38]:
pio.templates #For configuration of different Templates

Templates configuration
-----------------------
    Default template: 'plotly_dark'
    Available templates:
        ['ggplot2', 'seaborn', 'simple_white', 'plotly',
         'plotly_white', 'plotly_dark', 'presentation', 'xgridoff',
         'ygridoff', 'gridon', 'none']

In [39]:
pio.templates.default = "plotly_dark" #In this im using plotly_dark version template

In [40]:
#Reading the data
df = pd.read_csv("https://raw.githubusercontent.com/rakeshp1/data690_rakesh/main/Individual%20project%20part-B/wdi_data%20(4).csv")
df.head()

   Unnamed: 0  Year  ...  Income Group    Lending Type
0           0  2010  ...   High income  Not classified
1           1  2011  ...   High income  Not classified
2           2  2012  ...   High income  Not classified
3           3  2013  ...   High income  Not classified
4           4  2014  ...   High income  Not classified

[5 rows x 9 columns]

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    270 non-null    int64
 1   Year          270 non-null    int64
 2   value         270 non-null    float64
 3   indicator     270 non-null    object
 4   Country Code  270 non-null    object
 5   Country Name  270 non-null    object
 6   Region        270 non-null    object
 7   Income Group  270 non-null    object
 8   Lending Type  270 non-null    object
dtypes: float64(1), int64(2), object(6)
memory usage: 19.1+ KB

In [42]:
#dropping unnecessary columns
df.drop(columns=["Unnamed: 0"],inplace=True)
df

     Year      value  ... Income Group    Lending Type
0    2010  25.151417  ...  High income  Not classified
1    2011  26.436128  ...  High income  Not classified
2    2012  26.284164  ...  High income  Not classified
3    2013  25.127985  ...  High income  Not classified
4    2014  25.514817  ...  High income  Not classified
..    ...        ...  ...          ...             ...
265  2014   9.390405  ...  High income  Not classified
266  2015   9.352790  ...  High income  Not classified
267  2016   9.124074  ...  High income  Not classified
268  2017   9.110930  ...  High income  Not classified
269  2018   8.971459  ...  High income  Not classified

[270 rows x 8 columns]

# Choosing the India,United Kingdom,Australia,Switzerland and Sri Lanka Countries from the data

In [8]:
df_ind = df[df["Country Name"]=='India']
df_ind.head()

    Year      value  ...         Income Group Lending Type
9   2010  30.725078  ...  Lower middle income         IBRD
10  2011  30.161680  ...  Lower middle income         IBRD
11  2012  29.398528  ...  Lower middle income         IBRD
12  2013  28.404900  ...  Lower middle income         IBRD
13  2014  27.656401  ...  Lower middle income         IBRD

[5 rows x 8 columns]

In [9]:
df_uk = df[df["Country Name"]=='United Kingdom']
df_uk.head()

    Year      value  ... Income Group    Lending Type
36  2010  18.991835  ...  High income  Not classified
37  2011  18.716302  ...  High income  Not classified
38  2012  18.690537  ...  High income  Not classified
39  2013  18.931033  ...  High income  Not classified
40  2014  18.547156  ...  High income  Not classified

[5 rows x 8 columns]

In [10]:
df_aus = df[df["Country Name"]=='Australia']
df_aus.head()

   Year      value  ... Income Group    Lending Type
0  2010  25.151417  ...  High income  Not classified
1  2011  26.436128  ...  High income  Not classified
2  2012  26.284164  ...  High income  Not classified
3  2013  25.127985  ...  High income  Not classified
4  2014  25.514817  ...  High income  Not classified

[5 rows x 8 columns]

In [11]:
df_Lanka = df[df["Country Name"]=='Sri Lanka']
df_Lanka.head()

    Year      value  ...         Income Group Lending Type
18  2010  26.644146  ...  Lower middle income         IBRD
19  2011  27.995667  ...  Lower middle income         IBRD
20  2012  30.126276  ...  Lower middle income         IBRD
21  2013  29.162758  ...  Lower middle income         IBRD
22  2014  28.297999  ...  Lower middle income         IBRD

[5 rows x 8 columns]

In [12]:
df_swit = df[df["Country Name"]=='Switzerland']
df_swit.head()

    Year      value  ... Income Group    Lending Type
27  2010  24.921865  ...  High income  Not classified
28  2011  25.279568  ...  High income  Not classified
29  2012  24.874741  ...  High income  Not classified
30  2013  24.959493  ...  High income  Not classified
31  2014  24.622579  ...  High income  Not classified

[5 rows x 8 columns]

# Adding all the selected Countries in a separate Dataframe

In [46]:
data_frame=[df_ind,df_uk,df_aus,df_Lanka,df_swit]
result= pd.concat(data_frame)
result

     Year      value  ...         Income Group    Lending Type
9    2010  30.725078  ...  Lower middle income            IBRD
10   2011  30.161680  ...  Lower middle income            IBRD
11   2012  29.398528  ...  Lower middle income            IBRD
12   2013  28.404900  ...  Lower middle income            IBRD
13   2014  27.656401  ...  Lower middle income            IBRD
..    ...        ...  ...                  ...             ...
256  2014  17.919881  ...          High income  Not classified
257  2015  17.474396  ...          High income  Not classified
258  2016  17.771376  ...          High income  Not classified
259  2017  17.858688  ...          High income  Not classified
260  2018  18.005902  ...          High income  Not classified

[270 rows x 8 columns]

In [14]:
df_2018 = result.query("Year == 2018") #choosing the selected year
df_2018.sample(10)

     Year         value  ...         Income Group    Lending Type
143  2018  50252.840457  ...          High income  Not classified
116  2018      8.023788  ...  Lower middle income            IBRD
242  2018     14.853264  ...  Lower middle income            IBRD
125  2018      0.635024  ...          High income  Not classified
170  2018  68709.444183  ...          High income  Not classified
161  2018  13238.388344  ...  Lower middle income            IBRD
179  2018  47145.884098  ...          High income  Not classified
53   2018      9.965220  ...          High income  Not classified
26   2018     26.257035  ...  Lower middle income            IBRD
89   2018     23.778226  ...          High income  Not classified

[10 rows x 8 columns]

In [15]:
df_2018 = df_2018.query("indicator in ['NE.EXP.GNFS.ZS','NV.IND.MANF.ZS','NV.IND.TOTL.ZS','BG.GSR.NFSV.GD.ZS','NV.AGR.TOTL.ZS','NY.GDP.PCAP.PP.CD']"	)
df_2018.head()

     Year        value  ...         Income Group Lending Type
17   2018    26.382899  ...  Lower middle income         IBRD
62   2018    12.185249  ...  Lower middle income         IBRD
107  2018    15.970157  ...  Lower middle income         IBRD
152  2018  6705.149015  ...  Lower middle income         IBRD
197  2018    19.941241  ...  Lower middle income         IBRD

[5 rows x 8 columns]

In [16]:
df_pivot = df_2018.pivot(index =['Country Code','Country Name','Region','Income Group','Lending Type','Year'], columns='indicator', values='value').reset_index()
df_pivot.head()

indicator Country Code    Country Name  ... NV.IND.TOTL.ZS NY.GDP.PCAP.PP.CD
0                  AUS       Australia  ...      24.158967      50252.840457
1                  CHE     Switzerland  ...      24.670383      68709.444183
2                  GBR  United Kingdom  ...      18.124542      47145.884098
3                  IND           India  ...      26.382899       6705.149015
4                  LKA       Sri Lanka  ...      26.257035      13238.388344

[5 rows x 12 columns]

In [17]:
df_pivot

indicator Country Code    Country Name  ... NV.IND.TOTL.ZS NY.GDP.PCAP.PP.CD
0                  AUS       Australia  ...      24.158967      50252.840457
1                  CHE     Switzerland  ...      24.670383      68709.444183
2                  GBR  United Kingdom  ...      18.124542      47145.884098
3                  IND           India  ...      26.382899       6705.149015
4                  LKA       Sri Lanka  ...      26.257035      13238.388344

[5 rows x 12 columns]

In [18]:
df2 = df.query("indicator in ['NE.EXP.GNFS.ZS','NV.IND.MANF.ZS','NV.IND.TOTL.ZS','BG.GSR.NFSV.GD.ZS','NV.AGR.TOTL.ZS','NY.GDP.PCAP.PP.CD']")
df_pivot2 = df2.pivot(index =['Year','Country Code','Country Name','Region','Income Group','Lending Type'], columns='indicator', values='value').reset_index()
df_pivot2.head()

indicator  Year Country Code  ... NV.IND.TOTL.ZS NY.GDP.PCAP.PP.CD
0          2010          AUS  ...      25.151417      39301.341120
1          2010          CHE  ...      24.921865      53112.424584
2          2010          GBR  ...      18.991835      36464.482568
3          2010          IND  ...      30.725078       4236.744348
4          2010          LKA  ...      26.644146       8194.269254

[5 rows x 12 columns]

# Exports of goods and services (% of GDP) contribution to Economy growth:

In [19]:
fig = px.line(df_pivot2,
    x="Year",
    y="NE.EXP.GNFS.ZS",
    title="TOP 10 Countries by Exports of goods and services (% of GDP)",
    color='Country Name',
    labels={"Year":"Year","NE.EXP.GNFS.ZS":"Exports of goods and services (% of GDP)"},
    hover_name='Country Code')
fig.update_xaxes(type='category')
fig.show()

- From this graph we can observe that Switzerland is getting high economy from Exports of goods and services (% of GDP) than the remaining choosen countries
- And India is getting low economy from choosen countries.

# Agriculture, forestry, and fishing, value added (% of GDP) contribution to Economy growth:

In [20]:
fig = px.bar(
    df_pivot,
    x="Country Name",
    y="NV.AGR.TOTL.ZS",
    title="TOP 10 Countries By 2018 Agriculture, forestry, and fishing, value added (% of GDP)",
    color='Country Name',
    labels={"NV.AGR.TOTL.ZS":"2018 Agriculture, forestry, and fishing, value added (% of GDP)"}
).update_xaxes(categoryorder="total descending")
fig.show()

- From this graph we can observe that India's (Agriculture, forestry, and fishing, value added (% of GDP)) is higher than remaining countries.
- United kingdom is getting less economy from (Agriculture, forestry, and fishing, value added (% of GDP)).

In [21]:
!pip install --upgrade plotly

Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.3.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)

# Industry (including construction), value added (% of GDP) contribution to Economy growth

In [22]:
fig = px.sunburst(
     df_pivot2, 
     path=['Region', 'Country Name'],
     values='NV.IND.TOTL.ZS',
     title='TOP 10 Countries by 2018 Industry (including construction), value added (% of GDP))',
     hover_name='Country Code',
 )

fig.show()

- From here we can observe that all the choosen countries are getting around 25% income from Industry (including construction), value added (% of GDP) except United Kingdom which is getting around 18% from industrial sector.

# Manufacturing, value added (% of GDP) contribution to Economy growth:

In [23]:
fig = px.scatter(
    df_pivot.dropna(),
    x="NV.IND.MANF.ZS",
    y="NV.IND.MANF.ZS",
    title="TOP 10 Countries by 2018 Manufacturing, value added (% of GDP)",
    labels={"NV.IND.MANF.ZS":"2018 Manufacturing, value added (% of GDP)","NV.IND.MANF.ZS":"2018 Manufacturing, value added (% of GDP)"},
    color='Country Name',
    size='NV.IND.MANF.ZS',
    hover_name='Country Name',
    size_max=75,
    height=800,
)
fig.update_layout(
    showlegend=False
)
fig.update_traces(textposition ="top center")
fig.show()

- From this graph we can observe that Switzerland is getting high economy from Manufacturing, value added (% of GDP) than remaining choosen countries.

- And Australia is getting low economy growth from Manufacturing, value added (% of GDP).

# Trade in services (% of GDP) contribution to Economy growth

In [24]:
fig = px.line(df_pivot2,
    x="Year",
    y="BG.GSR.NFSV.GD.ZS",
    title="TOP 10 Countries by Trade in Services (% of GDP)",
    color='Country Name',
    labels={"Year":"Year","BG.GSR.NFSV.GD.ZS":"Trade in services (% of GDP)"},
    hover_name='Country Code')

fig.show()

- If we observe this sector all the choosen countries Trade in services (% of GDP) contribution to the economy increased from 2010-2018, Switzerland is having highest percentage of contribution from Trade in services (% of GDP) compared to other countries.

# GDP per capita, PPP (current international)

In [25]:
fig = px.pie(
    df_pivot,
    values='NY.GDP.PCAP.PP.CD', 
    names='Country Name',
    title='TOP 10 Countries by 2018 GDP per capita,PPP(Current International $)',
    hover_name='Country Code',
  )
fig.update_traces(textposition='inside', textinfo='percent+label')
fig.show()

- From this Pie chart we can observe that Switzerland is having highest percentage of GDP with 36.9% and india is having lowest percentage of GDP with 3.6%.

# Conclusion
- Finally with all the above information what i understood is, Economic growth of a country is not completely dependent on all of the above mentioned indicators Few countires depend on only few indicators and few countires dependent on all indicators, as we have seen in australia scenario it's Economic activity depended more on Industry (including construction), value added (% of GDP). To completely understand the countries Economic growth we need more indicators like population count, employement rate,education...etc.and i believe population count impacts more on the GDP per capita, PPP (current international).
- Because even though if a country has significant Economic growth in the last decade and at the same time having higher population count does not make significant improvement in the GDP per capita, PPP (current international $) of that country.