<a href="https://colab.research.google.com/github/rakeshp1/data690_rakesh/blob/main/Individual%20project%20part-B/Individual_Project_Part_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import plotly
import plotly.express as px
import plotly.graph_objects as go

In [ ]:
df = pd.read_csv("/content/wdi_data.csv")
df.head()

   Unnamed: 0  Year  ...  Income Group    Lending Type
0           0  2010  ...   High income  Not classified
1           1  2011  ...   High income  Not classified
2           2  2012  ...   High income  Not classified
3           3  2013  ...   High income  Not classified
4           4  2014  ...   High income  Not classified

[5 rows x 9 columns]

In [ ]:
df.drop(columns=["Unnamed: 0"],inplace=True)
df

     Year      value  ... Income Group    Lending Type
0    2010  25.151417  ...  High income  Not classified
1    2011  26.436128  ...  High income  Not classified
2    2012  26.284164  ...  High income  Not classified
3    2013  25.127985  ...  High income  Not classified
4    2014  25.514817  ...  High income  Not classified
..    ...        ...  ...          ...             ...
265  2014   9.390405  ...  High income  Not classified
266  2015   9.352790  ...  High income  Not classified
267  2016   9.124074  ...  High income  Not classified
268  2017   9.110930  ...  High income  Not classified
269  2018   8.971459  ...  High income  Not classified

[270 rows x 8 columns]

In [ ]:
df_ind = df[df["Country Name"]=='India']
df_ind.head()

    Year      value  ...         Income Group Lending Type
9   2010  30.725078  ...  Lower middle income         IBRD
10  2011  30.161680  ...  Lower middle income         IBRD
11  2012  29.398528  ...  Lower middle income         IBRD
12  2013  28.404900  ...  Lower middle income         IBRD
13  2014  27.656401  ...  Lower middle income         IBRD

[5 rows x 8 columns]

In [ ]:
df_uk = df[df["Country Name"]=='United Kingdom']
df_uk.head()

    Year      value  ... Income Group    Lending Type
36  2010  18.991835  ...  High income  Not classified
37  2011  18.716302  ...  High income  Not classified
38  2012  18.690537  ...  High income  Not classified
39  2013  18.931033  ...  High income  Not classified
40  2014  18.547156  ...  High income  Not classified

[5 rows x 8 columns]

In [ ]:
df_aus = df[df["Country Name"]=='Australia']
df_aus.head()

   Year      value  ... Income Group    Lending Type
0  2010  25.151417  ...  High income  Not classified
1  2011  26.436128  ...  High income  Not classified
2  2012  26.284164  ...  High income  Not classified
3  2013  25.127985  ...  High income  Not classified
4  2014  25.514817  ...  High income  Not classified

[5 rows x 8 columns]

In [ ]:
df_Lanka = df[df["Country Name"]=='Sri Lanka']
df_Lanka.head()

    Year      value  ...         Income Group Lending Type
18  2010  26.644146  ...  Lower middle income         IBRD
19  2011  27.995667  ...  Lower middle income         IBRD
20  2012  30.126276  ...  Lower middle income         IBRD
21  2013  29.162758  ...  Lower middle income         IBRD
22  2014  28.297999  ...  Lower middle income         IBRD

[5 rows x 8 columns]

In [ ]:
df_swit = df[df["Country Name"]=='Switzerland']
df_swit.head()

    Year      value  ... Income Group    Lending Type
27  2010  24.921865  ...  High income  Not classified
28  2011  25.279568  ...  High income  Not classified
29  2012  24.874741  ...  High income  Not classified
30  2013  24.959493  ...  High income  Not classified
31  2014  24.622579  ...  High income  Not classified

[5 rows x 8 columns]

In [ ]:
frames=[df_ind,df_uk,df_aus,df_Lanka,df_swit]
result= pd.concat(frames)
result

     Year      value  ...         Income Group    Lending Type
9    2010  30.725078  ...  Lower middle income            IBRD
10   2011  30.161680  ...  Lower middle income            IBRD
11   2012  29.398528  ...  Lower middle income            IBRD
12   2013  28.404900  ...  Lower middle income            IBRD
13   2014  27.656401  ...  Lower middle income            IBRD
..    ...        ...  ...                  ...             ...
256  2014  17.919881  ...          High income  Not classified
257  2015  17.474396  ...          High income  Not classified
258  2016  17.771376  ...          High income  Not classified
259  2017  17.858688  ...          High income  Not classified
260  2018  18.068519  ...          High income  Not classified

[270 rows x 8 columns]

In [ ]:
df_2018 = result.query("Year == 2018")
df_2018.sample(10)

     Year         value  ...         Income Group    Lending Type
44   2018  1.812454e+01  ...          High income  Not classified
62   2018  9.029376e+12  ...  Lower middle income            IBRD
89   2018  3.133332e+12  ...          High income  Not classified
26   2018  2.625703e+01  ...  Lower middle income            IBRD
188  2018  2.182190e+01  ...          High income  Not classified
116  2018  1.475996e+01  ...  Lower middle income            IBRD
71   2018  2.853743e+11  ...  Lower middle income            IBRD
134  2018  2.377823e+01  ...          High income  Not classified
35   2018  2.468304e+01  ...          High income  Not classified
197  2018  1.994124e+01  ...  Lower middle income            IBRD

[10 rows x 8 columns]

In [ ]:
df_2018 = df_2018.query("indicator in ['NE.EXP.GNFS.ZS','NV.IND.MANF.ZS','NV.IND.TOTL.ZS','BG.GSR.NFSV.GD.ZS','NV.AGR.TOTL.ZS','NY.GDP.MKTP.PP.CD']"	)
df_2018.head()

     Year         value  ...         Income Group Lending Type
17   2018  2.638290e+01  ...  Lower middle income         IBRD
62   2018  9.029376e+12  ...  Lower middle income         IBRD
107  2018  1.218525e+01  ...  Lower middle income         IBRD
152  2018  1.597016e+01  ...  Lower middle income         IBRD
197  2018  1.994124e+01  ...  Lower middle income         IBRD

[5 rows x 8 columns]

In [ ]:
df_pivot = df_2018.pivot(index =['Country Code','Country Name','Region','Income Group','Lending Type','Year'], columns='indicator', values='value').reset_index()
df_pivot.head()

indicator Country Code    Country Name  ... NV.IND.TOTL.ZS NY.GDP.MKTP.PP.CD
0                  AUS       Australia  ...      24.158967      1.255451e+12
1                  CHE     Switzerland  ...      24.683043      6.105252e+11
2                  GBR  United Kingdom  ...      18.124542      3.133332e+12
3                  IND           India  ...      26.382899      9.029376e+12
4                  LKA       Sri Lanka  ...      26.257035      2.853743e+11

[5 rows x 12 columns]

# Exports of goods and services (% of GDP) contribution to Economy growth:

In [ ]:
fig = px.line(df_pivot2,
    x="Year",
    y="NE.EXP.GNFS.ZS",
    title="TOP 10 Countries by Exports of goods and services (% of GDP)",
    color='Country Name',
    labels={"Year":"Year","NE.EXP.GNFS.ZS":"Exports of goods and services (% of GDP)"},
    hover_name='Country Code')
#fig.update_xaxes(rangeslider_visible=True)
fig.show()

# Agriculture, forestry, and fishing, value added (% of GDP) contribution to Economy growth:

In [ ]:
fig = px.bar(
    df_pivot,
    x="Country Name",
    y="NV.AGR.TOTL.ZS",
    title="TOP 10 Countries By 2018 Agriculture, forestry, and fishing, value added (% of GDP)",
    color='Country Name',
    labels={"NV.AGR.TOTL.ZS":"2018 Agriculture, forestry, and fishing, value added (% of GDP)"}
).update_xaxes(categoryorder="total descending")
fig.show()

# Manufacturing, value added (% of GDP) contribution to Economy growth:

In [ ]:
fig = px.scatter(
    df_pivot.dropna(),
    x="NV.IND.MANF.ZS",
    y="NV.IND.MANF.ZS",
    title="TOP 10 Countries by 2018 Manufacturing, value added (% of GDP)",
    labels={"NV.IND.MANF.ZS":"2018 Manufacturing, value added (% of GDP)","NV.IND.MANF.ZS":"2018 Manufacturing, value added (% of GDP)"},
    color='Country Name',
    hover_name='Country Name',
    size_max=100
)
fig.show()

# GDP per capita, PPP (current international $)

In [ ]:
fig = px.pie(
    df_pivot,
    values='NY.GDP.MKTP.PP.CD', 
    names='Country Name',
    title='TOP 10 Countries by 2018 GDP per capita,PPP(Current International $)',
    hover_name='Country Code')
fig.update_traces(textposition='inside', textinfo='percent+label')
fig.show()

In [ ]:
df_pivot

indicator Country Code    Country Name  ... NV.IND.TOTL.ZS NY.GDP.MKTP.PP.CD
0                  AUS       Australia  ...      24.158967      1.255451e+12
1                  CHE     Switzerland  ...      24.683043      6.105252e+11
2                  GBR  United Kingdom  ...      18.124542      3.133332e+12
3                  IND           India  ...      26.382899      9.029376e+12
4                  LKA       Sri Lanka  ...      26.257035      2.853743e+11

[5 rows x 12 columns]

In [ ]:
df2 = df.query("indicator in ['NE.EXP.GNFS.ZS','NV.IND.MANF.ZS','NV.IND.TOTL.ZS','BG.GSR.NFSV.GD.ZS','NV.AGR.TOTL.ZS','NY.GDP.MKTP.PP.CD']")
df_pivot2 = df2.pivot(index =['Year','Country Code','Country Name','Region','Income Group','Lending Type'], columns='indicator', values='value').reset_index()
df_pivot2.head()

indicator  Year Country Code  ... NV.IND.TOTL.ZS NY.GDP.MKTP.PP.CD
0          2010          AUS  ...      25.151417      8.658773e+11
1          2010          CHE  ...      24.921865      4.295900e+11
2          2010          GBR  ...      18.991835      2.288743e+12
3          2010          IND  ...      30.725078      5.229334e+12
4          2010          LKA  ...      26.644146      1.660301e+11

[5 rows x 12 columns]

# Trade in services (% of GDP) contribution to Economy growth

In [ ]:
fig = px.line(df_pivot2,
    x="Year",
    y="BG.GSR.NFSV.GD.ZS",
    title="TOP 10 Countries by Trade in Services (% of GDP)",
    color='Country Name',
    labels={"Year":"Year","BG.GSR.NFSV.GD.ZS":"Trade in services (% of GDP)"},
    hover_name='Country Code')
#fig.update_xaxes(rangeslider_visible=True)
fig.show()

# Industry (including construction), value added (% of GDP) contribution to Economy growth:

In [ ]:
fig = px.sunburst(df_pivot2, 
     path=['Region', 'Country Name'],
    values='NV.IND.TOTL.ZS',
     title='TOP 10 Countries by 2018 GDP per capita,PPP(Current International $)',
    hover_name='Country Code')
#fig.update_traces(textposition='inside', textinfo='percent+label')
fig.show()