<a href="https://colab.research.google.com/github/rakeshp1/data690_rakesh/blob/main/Assignment_04/Homework_4A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. Write code to open the text file census_costs.txt and read all lines into a list named "line_list". Print line_list.

In [5]:
with open("census_costs.txt") as file_in:
    line_list = []
    for line in file_in:
        line_list.append(line)
print(line_list)

FileNotFoundError: ignored

### 2. Extract the first two lines and put them in a different list named "top2_list". You will need to use them later. Print the top2_list.

In [ ]:
top2_list=line_list[:2]
print(top2_list)

['Source: https://www.genealogybranches.com/censuscosts.html\n', 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n']

### 3. Put the rest of the lines (containing useful data elements) in a new list named "data_list". Print data_list.

In [ ]:
data_list=line_list[2:]
print(data_list)

['1790\t3,929,214\t$44,377\t1.13 cents\n', '1800\t5,308,483\t$66,109\t1.24 cents\n', '1810\t7,239,881\t$178,445\t2.46 cents\n', '1820\t9,633,822\t$208,526\t2.16 cents\n', '1830\t12,866,020\t$378,545\t2.94 cents\n', '1840\t17,069,458\t$833,371\t4.88 cents\n', '1850\t23,191,876\t$1,423,351\t6.14 cents\n', '1860\t31,443,321\t$1,969,377\t6.26 cents\n', '1870\t38,558,371\t$3,421,198\t8.87 cents\n', '1880\t50,155,783\t$5,790,678\t11.54 cents\n', '1890\t62,979,766\t$11,547,127\t18.33 cents\n', '1900\t76,303,387\t$11,854,000\t15.54 cents\n', '1910\t91,972,266\t$15,968,000\t17.07 cents\n', '1920\t105,710,620\t$25,117,000\t23.76 cents\n', '1930\t122,775,046\t$40,156,000\t32.71 cents\n', '1940\t131,669,275\t$67,527,000\t51.29 cents\n', '1950\t151,325,798\t$91,462,000\t60.44 cents\n', '1960\t179,323,175\t$127,934,000\t71.34 cents\n', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5 Billion\t$15.99\n', '2010*\t308,745,538\t$13 Billion\t$42.11\n']

### 4. Extract the column "Census Year" from data_list and assign them to a list named year_list. Remove the "" from the last element "2010". Print the cleansed year_list.

In [ ]:
year_list=[element.split('\t')[0] for element in data_list]
year_list.pop()
print(year_list)

['1790', '1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930', '1940', '1950', '1960', '1970', '1980', '1990', '2000']

### 5. Extract the "Total Population" column from the data_list and assign them to a list named "pop_list". Remove the "," from the numbers since Python doesn't recognize them. Print the cleansed "pop_list".

In [ ]:
pop_list=[element.split('\t')[1] for element in data_list]
pop_list=[element.replace(',', '') for element in pop_list]
print(pop_list)

['3929214', '5308483', '7239881', '9633822', '12866020', '17069458', '23191876', '31443321', '38558371', '50155783', '62979766', '76303387', '91972266', '105710620', '122775046', '131669275', '151325798', '179323175', '203302031', '226542199', '248718301', '281421906', '308745538']

### 6. Extract the "Census Cost" column from the data_list and assign them to a list named "cost_list". Remove the ",", and "$", and "Billion". Make sure to add the "0"s to the numbers from which you removed "Billion". Print the cleansed cost_list.

In [ ]:
cost_list=[element.split('\t')[2] for element in data_list]
cost_list=[element.replace('$', '') for element in cost_list]
cost_list=[element.replace(',', '') for element in cost_list]
cost_list=[element.replace(' ', '') for element in cost_list]
cost_list=[element.replace('.', '') for element in cost_list]
cost_list=[element.replace('Billion', '000000000') for element in cost_list]
print(cost_list)

['44377', '66109', '178445', '208526', '378545', '833371', '1423351', '1969377', '3421198', '5790678', '11547127', '11854000', '15968000', '25117000', '40156000', '67527000', '91462000', '127934000', '247653000', '1078488000', '2492830000', '45000000000', '13000000000']

### 7. Extract the "Average Cost per Person" column from the data_list and assign them to a list named "avg_list". Remove the "cents", and "$". Make sure to divide the numbers in cents by 100 so that all numbers are measured in dollar. Print the cleansed avg_list.

In [ ]:
avg_list=[element.split('\t')[3] for element in data_list]
avg_list=[element.replace('cents', '') for element in avg_list]
avg_list=[element.replace(' ', '') for element in avg_list]
avg_list=[element.replace('\n', '') for element in avg_list]
avg_list1=avg_list[:-5]
avg_list2=avg_list[-5:]
avg_list2=[element.replace('$', '') for element in avg_list2]
avg_list2=[float(element) for element in avg_list2]

avg_list1=[float(element) for element in avg_list1]

avg_list1=[element/100 for element in avg_list1]
avg_list=avg_list1+avg_list2
print(avg_list)

[0.0113, 0.0124, 0.0246, 0.0216, 0.0294, 0.048799999999999996, 0.061399999999999996, 0.0626, 0.08869999999999999, 0.11539999999999999, 0.1833, 0.15539999999999998, 0.1707, 0.2376, 0.3271, 0.5129, 0.6043999999999999, 0.7134, 1.22, 4.76, 10.02, 15.99, 42.11]

### 8. Coalesce the cleansed data and save them to a text file named "census_cost.csv". The new file should look similar to the original source file except that it is in comma-delimited format and the numbers have been cleansed. The top two lines from the original file should be retained in the new file.

In [ ]:
avg_list=[str(element) for element in avg_list]
f_list=[list(a) for a in zip(year_list, pop_list, cost_list, avg_list)]

In [ ]:
with open('final_file.txt', 'w') as f:
    for item in top2_list:
        f.write("%s\n" % item)

In [ ]:
for i in range(len(f_list)) :
  for j in range(len(f_list[i])) :
        print(f_list[i][j], end=" ",  file=open("final_file.txt", "a"))
  print("\n",file=open("final_file.txt", "a") )

### 9. Write code to open the newly-created file "census_cost.csv", read all lines and display them. How does it look?

Part - B

In [ ]:
import pandas as pd
df = pd.read_csv('census_costs.txt', delimiter="\t", skiprows=1)

In [ ]:
print("Number of rows in the dataframe:",df.shape[0])
print("Number of columns in the dataframe:",df.shape[1])

Number of rows in the dataframe: 23
Number of columns in the dataframe: 4

In [ ]:
#top 10 rows
df.head(10)

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents
3        1820        9,633,822    $208,526              2.16 cents
4        1830       12,866,020    $378,545              2.94 cents
5        1840       17,069,458    $833,371              4.88 cents
6        1850       23,191,876  $1,423,351              6.14 cents
7        1860       31,443,321  $1,969,377              6.26 cents
8        1870       38,558,371  $3,421,198              8.87 cents
9        1880       50,155,783  $5,790,678             11.54 cents

In [ ]:
#bottom 10 rows
df.tail(10)

   Census Year Total Population     Census Cost Average Cost Per Person
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

In [ ]:
#random 10 rows
df.sample(n=10)

   Census Year Total Population   Census Cost Average Cost Per Person
10        1890       62,979,766   $11,547,127             18.33 cents
11        1900       76,303,387   $11,854,000             15.54 cents
8         1870       38,558,371    $3,421,198              8.87 cents
17        1960      179,323,175  $127,934,000             71.34 cents
16        1950      151,325,798   $91,462,000             60.44 cents
3         1820        9,633,822      $208,526              2.16 cents
22       2010*      308,745,538   $13 Billion                  $42.11
21        2000      281,421,906  $4.5 Billion                  $15.99
14        1930      122,775,046   $40,156,000             32.71 cents
5         1840       17,069,458      $833,371              4.88 cents

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 864.0+ bytes

In [ ]:
#summary statistics of all columns
df.describe(include='all')

       Census Year Total Population Census Cost Average Cost Per Person
count           23               23          23                      23
unique          23               23          23                      23
top           1910        3,929,214  $3,421,198             17.07 cents
freq             1                1           1                       1

In [ ]:
df['Census Year'] = df['Census Year'].replace(['2010*'],'2010')
df['Census Year']=df['Census Year'].astype(int)
df['Total Population']=df['Total Population'].astype(int)
df['Census Cost']=df['Census Cost	'].astype(int)
df['Average Cost Per Person']=df['Average Cost Per Person'].astype(int)

ValueError: ignored

In [ ]:
a#summary statistics of the numerical columns
df.describe()

       Census Year Total Population Census Cost Average Cost Per Person
count           23               23          23                      23
unique          23               23          23                      23
top           1910        3,929,214  $3,421,198             17.07 cents
freq             1                1           1                       1