<a href="https://colab.research.google.com/github/rakeshp1/data690_rakesh/blob/main/Assignment_04/Homework_4_PartB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PART-B

### 1. Use Pandas to read the file census_costs.txt file

In [187]:
import pandas as pd
df = pd.read_csv('census_costs.txt', delimiter="\t", skiprows=1)

### 2. Find out how many rows and columns it has

In [188]:
print("The number of rows", df.shape[0])
print("The number of columns", df.shape[1])

The number of rows 23
The number of columns 4

### 3. Display first 10, last 10, and random 10 rows

In [189]:
#top 10 rows
df.head(10)

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents
3        1820        9,633,822    $208,526              2.16 cents
4        1830       12,866,020    $378,545              2.94 cents
5        1840       17,069,458    $833,371              4.88 cents
6        1850       23,191,876  $1,423,351              6.14 cents
7        1860       31,443,321  $1,969,377              6.26 cents
8        1870       38,558,371  $3,421,198              8.87 cents
9        1880       50,155,783  $5,790,678             11.54 cents

In [190]:
#last 10 rows
df.tail(10)

   Census Year Total Population     Census Cost Average Cost Per Person
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

In [191]:
#random 10 rows
df.sample(n=10)

   Census Year Total Population   Census Cost Average Cost Per Person
12        1910       91,972,266   $15,968,000             17.07 cents
3         1820        9,633,822      $208,526              2.16 cents
14        1930      122,775,046   $40,156,000             32.71 cents
21        2000      281,421,906  $4.5 Billion                  $15.99
18        1970      203,302,031  $247,653,000                   $1.22
7         1860       31,443,321    $1,969,377              6.26 cents
5         1840       17,069,458      $833,371              4.88 cents
11        1900       76,303,387   $11,854,000             15.54 cents
4         1830       12,866,020      $378,545              2.94 cents
16        1950      151,325,798   $91,462,000             60.44 cents

### 4. Find out the data types of all columns - use info() function

In [192]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 864.0+ bytes

### 5. Find out the summary statistics of all columns

In [193]:
#summary statistics of all columns
df.describe(include='all')

       Census Year Total Population  Census Cost Average Cost Per Person
count           23               23           23                      23
unique          23               23           23                      23
top          2010*       91,972,266  $11,547,127             11.54 cents
freq             1                1            1                       1

### 6. Cleanse the data to make the year, population, cost, cost per person numerical type - use apply() function

In [194]:
#df.head()
df = df.apply(lambda x: x.str.replace(',', ''))
df = df.apply(lambda x: x.str.replace('$', ''))
df['Census Cost'] = df['Census Cost'].apply(lambda x: x.replace('.', ''))
df = df.apply(lambda x: x.str.replace(' ', ''))
df = df.apply(lambda x: x.str.replace('Billion', '000000000'))
df = df.apply(lambda x: x.str.replace('cents', ''))
df['Census Year'] = df['Census Year'].apply(lambda x: x.replace('2010*', '2010'))

In [195]:
df['Census Year']=df['Census Year'].astype(int)
df['Total Population']=df['Total Population'].astype(int)
df['Census Cost']=df['Census Cost'].astype(int)
df['Average Cost Per Person']=df['Average Cost Per Person'].astype(float)

### 7. Find out the summary statistics of the numerical columns - use describe() function

In [196]:
#summary statistics of the numerical columns
df.describe()

       Census Year  Total Population   Census Cost  Average Cost Per Person
count      23.0000      2.300000e+01  2.300000e+01                23.000000
mean     1900.0000      1.039211e+08  2.705428e+09                17.921739
std        67.8233      9.622629e+07  9.613262e+09                20.200432
min      1790.0000      3.929214e+06  4.437700e+04                 1.130000
25%      1845.0000      2.013067e+07  1.128361e+06                 3.850000
50%      1900.0000      7.630339e+07  1.185400e+07                10.020000
75%      1955.0000      1.653245e+08  1.096980e+08                21.045000
max      2010.0000      3.087455e+08  4.500000e+10                71.340000