<a href="https://colab.research.google.com/github/rakeshp1/data690_rakesh/blob/main/Assignment_04/Homework_4B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PART-B

### 1. Use Pandas to read the file census_costs.txt file

In [5]:
import pandas as pd
df = pd.read_csv('census_costs.txt', delimiter="\t", skiprows=1)

FileNotFoundError: ignored

### 2. Find out how many rows and columns it has

### 3. Display first 10, last 10, and random 10 rows

In [ ]:
#top 10 rows
df.head(10)

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents
3        1820        9,633,822    $208,526              2.16 cents
4        1830       12,866,020    $378,545              2.94 cents
5        1840       17,069,458    $833,371              4.88 cents
6        1850       23,191,876  $1,423,351              6.14 cents
7        1860       31,443,321  $1,969,377              6.26 cents
8        1870       38,558,371  $3,421,198              8.87 cents
9        1880       50,155,783  $5,790,678             11.54 cents

In [1]:
#random 10 rows
df.sample(n=10)

NameError: ignored

### 4. Find out the data types of all columns - use info() function

In [2]:
df.info()

NameError: ignored

In [3]:
#summary statistics of all columns
df.describe(include='all')

NameError: ignored

In [4]:
df['Census Year'] = df['Census Year'].replace(['2010*'],'2010')
df['Census Year']=df['Census Year'].astype(int)
df['Total Population']=df['Total Population'].astype(int)
df['Census Cost']=df['Census Cost	'].astype(int)
df['Average Cost Per Person']=df['Average Cost Per Person'].astype(int)

NameError: ignored

### 5. Find out the summary statistics of all columns

In [6]:
a#summary statistics of the numerical columns
df.describe()

NameError: ignored

### 6. Cleanse the data to make the year, population, cost, cost per person numerical type - use apply() function

### 7. Find out the summary statistics of the numerical columns - use describe() function

### 8. Use Pandas built-in plotting function to plot the average cost per person over time.

### 9. Use Pandas built-in plotting function to plot the scatter plot of Total Population vs Total Cost.